@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Nunito', sans-serif;
  position: fixed;
  overflow: hidden;
}

#card-deck {
  background: #090909;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
}

#card-deck > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-deck > div > div {
  color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 400px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  padding: 20px;
}

h2{
  font-size: 1.7rem;
  font-weight: 500;
}

p{
  font-weight: 300;
  line-height: 1.5em;
}

.thelogo{
  width: 200px;
  margin: 20px auto;
}


.cta{
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  display: inline-block;
  margin: 20px auto 0;
  text-decoration: none;
  transition: .5s all;
}
.cta:hover{
  background-color: red;
}


.code_color{
  fill: white;
}

.text-color{
  fill: red;
}